@charset "utf-8";

.wrap {
  max-width: 960px;
  background-color: #eeeeee;
  margin: 0 auto;
  padding-bottom: 100px;
}

.header {
  text-align: center;
  padding: 50px;
}

h1 {
  color: #339999;
}

h2 {
  color: #339999;
  border-left: 7px solid #339999;
  margin: 10px 5px;
}

p {
  margin: 10px 5px;
}

.service {
  display: flex;
  margin: 0 auto;
}

.serviceimage {
  margin: 0 5px;
  background: white;
}

@media screen and (max-width: 400px) {
  .service {
    flex-direction: column;
    padding: 0 10px;
  }
  img {
    width: 100%;
  }
  .serviceimage {
    width: 100%;
    margin: 10px 0px;
  }
}
