@charset "utf-8";

.wrap {
  max-width: 960px;
  background-color: #eeeeee;
  margin: 0 auto;
}

.header {
  text-align: center;
  padding: 50px;
}

h1 {
  color: #339999;
}

h2 {
  color: #339999;
  border-left: 7px solid #339999;
  margin: 7px auto;
}

p {
  margin: 5px;
}

.service {
  display: flex;
  margin: 0 auto;
  padding: 0 10px;
}

.serviceimage {
  /* flex-direction: column;
  align-items: flex-start; */
  /* max-width: 100%; */
  padding: 0 10px;
}

@media screen and (max-width: 400px) {
  .service {
    flex-direction: column;
  }
  image {
    width: 100%;
  }
  .serviceimage {
    width: 100%;
  }
}
