@charset "utf-8";

.wrap {
  max-width: 960px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  color: #333333;
}

.menu {
  display: flex;
  list-style: none;
}

.menu li:not(:last-child) {
  border-right: 1px solid #333333;
}

.menu li {
  background: #fff;
  color: #333333;
  padding: 10px 15px;
}

.container {
  display: flex;
  margin: 0 auto;
  margin-top: 30px;
  justify-content: space-between;
}

.container2 {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  justify-content: space-between;
}

.box1 {
  width: 300px;
  height: 300px;
  background: blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box2 {
  width: 31%;
  height: 300px;
  background: red;
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header {
    width: 97%;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0;
    margin: 10px 10px;
  }

  .menu {
    width: 100%;
    flex-direction: column;
  }

  .header .menu li {
    background: #fff;
    color: #333333;
    border: none;
    border-bottom: 3px solid #333333;
    padding: 10px 5px;
  }
}
